<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue CDN TP3</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
   <div id="app" >
   <div class="header">
    <img src="WhatsApp Image 2025-10-20 à 12.32.58_216d6e73.jpg" width="100">
    <h1>les bonnes pièces</h1>
    
   </div>
   <label class="label1">Rechercher: 
    <input class="input" type="text" name="nom" v-model="filtrerecherche">
   </label>
   <br>
   <div class="label2">
   
  <label> Filtrer par Categorie:
  <select v-model="afficheparcategorie">
  <option value="">Toutes les catégories</option>
  <option value="Électricité">Électricité</option>
  <option value="Filtration">Filtration</option>
  <option value="Moteur">Moteur</option>
  <option value="Freinage">Freinage</option>
  <option value="Refroidissement">Refroidissement</option>
  <option value="Suspension">Suspension</option>
  <option value="Sécurité">Sécurité</option>
  <option value="Transmission">Transmission</option>
  <option value="Carrosserie">Carrosserie</option>
  <option value="Échappement">Échappement</option>
  <option value="Direction">Direction</option>
  <option value="Carburant">Carburant</option>
</select>

  </label>
    <label>Trier par prix:  
      <select v-model="tri_prix">
      <option value="Croissant">Croissant</option>
      <option value="Décroissant">Décroissant</option>
      </select>
   </label>
   </div>
   <br>
   <div class="container">
    <div v-for="p in filtrepiece" class="forme">
      <img :src="p.image" alt="photo">
      <p> {{ p.nom }} - prix: {{ p.prix }}DH - {{ p.categorie }}</p>
    
   </div>
    </div>
  </div>
   <script src="app.js">
 
   </script>

  </body>
</html>
